@model IEnumerable<eDrive3.Models.Instrutor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrTelemovel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <img src="@item.FotoUrl"
                         alt="Foto de @item.Name"
                         style="max-height:70px;max-width:70px;object-fit:cover;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrTelemovel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstrutorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstrutorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstrutorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
