@model eDrive3.Models.Aluno

<h2>Perfil do Aluno</h2>
<img src="@Model.FotoUrl" alt="Foto" width="150" />
<p><b>Nome:</b> @Model.NomeCompleto</p>
<p><b>Email:</b> @Model.Email</p>
<p><b>Telemóvel:</b> @Model.NrTelemovel</p>
<p><b>Morada:</b> @Model.Morada</p>
